@charset "UTF-8";
/* CSS Document */

body{
	background-color: whitesmoke;
	font-family: Constantia,"Lucida Bright', 'DejaVu Serif', Georgia, 'serif";
	font-size: 20px;
	text-align: center;
}

img{
	width: 800px;
	height: auto;
}

	
